#ignore node_modules directory

node_modules/
#after node_modules because all other folders in node modules are no need to be tracked



#other enteries..

#'git rm -r --cached node_modules' is a command used to remove node modules folder which is not so necessary